
.play {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 300px;
}

.play-header img {
	object-fit: cover;
	height: 200px;
	width: 100%;
}

