.main{
	flex: 0.8;
}
.main_page > h3 {
	padding: 0 0 1em 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 20px;
}

.card_logo{
	display: flex;
}
.card_container {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	align-items: center;
}

.playlist_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* flex-wrap: wrap; */
}

.recent_playlist {
	margin: 5em 0 2em 0;
}
.recent_playlist > h3 {
	padding: 0 0 1em 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 20px;
}